# Python
venv/
__pycache__/
*.py[cod]

# Data
cicids2018/
extracted_features/
processed_dataset/
analysis_results/
*.pcap
*.zip
*.rar
*.csv
*.parquet

# Logs
*.log
trash/
tests/

# OS
.DS_Store
Thumbs.db

